target = 4.0.0
arch = x64
target_arch = x64
disturl=https://atom.io/download/electron
runtime = electron
build_from_source = true
openssl_dir = C:\OpenSSL-Win64
openssl_1_0_2 = 1
python = C:\Users\yalamber\AnacondaTwo\python.exe